# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/config.log
/config.status
/Makefile
/autom4te.cache
/aclocal.m4
/configure
/Makefile.in
.metadata
.project
*.tif